/* fonts.google.com para usar fuentes de Google
se seleccionan las fuentes deseadas,
luego con la opción @import se copia el siguiente código: */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");

html {
  /* Fuente importada de fonts.google.com */
  font-family: "Source Sans Pro", sans-serif;

  /* Tipo de fuente de las normales de html */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

  /* Tamaño de fuente */
  /* se puede trabajar con pt, px, large, small y otras */
  font-size: large;

  /* Negrita. Se puede trabajar con número 100, 200... o bold */
  /* font-weight: 900; */

  color: #0a122a;

  background-color: #f1fffa;
}

body {
  margin: 0px;
}

/* Gris: #464E47
Verde oscuro: #568259
Verde medio: #96E6B3
Verde claro: #CCFCCB
Crema: #F1FFFA */

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden; /* para que quite el scroll de todo el contenedor */
  }
  .contenedorPrincipal > main {
    height: 100%; /*Para que ocupe el 100% del espacio disponible, manda el footer al fondo*/
    overflow-y: scroll; /* para que coloque el scroll solo para el main, sin afectar al header y al footer */
  }
  .contenedorPrincipal > footer {
    background-color: #96E6B3;
    padding: 10px;
  }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #96E6B3;
  color: #0a122a;
  border: solid #0a122a;
  border-radius: 20px;
}

.barra-nav {
  background-color: #96E6B3;
  height: 40px;
  /* position: sticky;
    top: 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid #0a122a;
  border-radius: 20px;
}

.botonPrincipal {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  color: #f1fffa;
  background-color: #0a122a;
}

.botonPrincipal:link {
  /* Enlace sin visitar */
  color: #f1fffa;
}

.botonPrincipal:visited {
  /* Enlace visitado */
  color: #f1fffa;
}

.botonPrincipal:hover {
  /* ratón pasando encima */
  color: #ccfccb;
}

.botonPrincipal:active {
  /* Justo al dar clic */
  color: #96e6b3;
}

.botonPrincipal:hover {
  /* Justo al dar clic */
  transform: scale(1.1);
  box-shadow: 1px 1px #f1fffa;
}

.datos-entrada {
  display: flex;
  justify-content: space-around;
  border: solid #0a122a;
  border-radius: 20px;
}

.form-pavimento {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: solid 2px;
  /* width: 400px; */
}

.input-numero {
  width: 50px;
}

.input-numero-salida {
  width: 100px;
}

.titulos-ejes {
  display: flex;
  justify-content: space-around;
  /* border: solid 2px; */
}

.form-ejes {
  display: flex;
  gap: 15px;
  /* border: solid 2px; */
}

.grupo-ejes {
  width: 160px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 1px; */
  /* border: solid 1px; */
}

.grupo-ejes input {
  width: 70px;
  /* margin: 1px 1px; */
}
